<?xml version="1.0" encoding="UTF-8"?>
<Configuration status="INFO">
	<!--logFileName is the name for your log file -->
	<Properties>
		<Property name="logFileName">HWR</Property>
	</Properties>

	<Appenders>
		<!-- Async Loggers will auto-flush in batches, so switch off immediateFlush. -->
		<RollingRandomAccessFile name="FILE"
			immediateFlush="false" fileName="logs/${logFileName}.log"
			filePattern="logs/${logFileName}-%d{MM-dd-yyyy}-%i.log.gz">
			<PatternLayout
				pattern="%d{dd MMM yyyy HH:mm:ss,SSS} %5p %marker [%t] %c{1}:%L- %m%n" />
			<Policies>
				<TimeBasedTriggeringPolicy />
			</Policies>
		</RollingRandomAccessFile>
		<Console name="CONSOLE" target="SYSTEM_OUT">
			<PatternLayout
				pattern="%d{dd MMM yyyy HH:mm:ss,SSS} %5p %marker [%t] %c{1}:%L - %m%n" />
		</Console>
	</Appenders>
	<Loggers>
		<!-- pattern layout actually uses location, so we need to include it -->
		<AsyncRoot level="INFO" includeLocation="true">
			<AppenderRef ref="FILE" />
			<AppenderRef ref="CONSOLE" level="INFO" />
		</AsyncRoot>

		<AsyncLogger name="org.apache.spark.streaming" level="ERROR"
                     includeLocation="true" additivity="false">
            <AppenderRef ref="FILE"/>
            <AppenderRef ref="CONSOLE"/>
        </AsyncLogger>


	</Loggers>
</Configuration>